<h1 mat-dialog-title>Agendar consulta</h1>
<div mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form__container">
      <mat-form-field appearance="outline">
        <mat-label>Tipo</mat-label>
        <mat-select formControlName="type">
          <mat-option value="in-person"> Presencial </mat-option>
          <mat-option value="teleconsultation"> Teleconsulta </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Data</mat-label>
        <input matInput type="date" formControlName="date" />
        <mat-icon matSuffix>schedule</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Horário</mat-label>
        <mat-select formControlName="time">
          <mat-option value="1"> 13:00 - 13:45 </mat-option>
          <mat-option value="2"> 13:45 - 14:30 </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Convênio</mat-label>
        <mat-select formControlName="agreement">
          <ng-container *ngIf="agreements$ | async as agreements; else noData">
            <mat-option
              [value]="agreement.id"
              *ngFor="let agreement of agreements"
              >{{ agreement.name }}</mat-option
            >
          </ng-container>

          <ng-template #noData>No Data Available</ng-template>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Forma de pagamento</mat-label>
        <mat-select formControlName="paymentMethod">
          <ng-container
            *ngIf="paymentMethods$ | async as paymentMethods; else noData"
          >
            <mat-option
              [value]="paymentMethod.id"
              *ngFor="let paymentMethod of paymentMethods"
              >{{ paymentMethod.name }}</mat-option
            >
          </ng-container>

          <ng-template #noData>No Data Available</ng-template>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Unidade/Filial</mat-label>
        <mat-select formControlName="unit">
          <ng-container *ngIf="companies$ | async as companies; else noData">
            <mat-option
              [value]="company.id"
              *ngFor="let company of companies"
              >{{ company.fantasyName }}</mat-option
            >
          </ng-container>

          <ng-template #noData>No Data Available</ng-template>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Motivo da consulta</mat-label>
        <input matInput formControlName="reason" />
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button (click)="onSubmit()" cdkFocusInitial>Agendar</button>
</div>
