<h1 mat-dialog-title>Agendar consulta</h1>
<div mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form__container">
      <mat-form-field
        class="form__container__field form__container__field--full-size"
        appearance="outline"
      >
        <mat-label>Unidade/Filial</mat-label>
        <mat-select
          formControlName="companyId"
          (ngModelChange)="onCompanyIdChange()"
        >
          <ng-container *ngIf="companies$ | async as companies; else noData">
            <mat-option
              [value]="company.id"
              *ngFor="let company of companies"
              >{{ company.fantasyName }}</mat-option
            >
          </ng-container>

          <ng-template #noData>No Data Available</ng-template>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form__container__field" appearance="outline">
        <mat-label>Data</mat-label>
        <input
          matInput
          [matDatepicker]="picker1"
          formControlName="date"
          (ngModelChange)="onDateChange()"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker1"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="form__container__field" appearance="outline">
        <mat-label>Horário</mat-label>
        <mat-select formControlName="time">
          <ng-container *ngIf="companyHours.length; else noData">
            <mat-option
              [value]="companyHour"
              *ngFor="let companyHour of companyHours"
              >{{ companyHour }}</mat-option
            >
          </ng-container>

          <ng-template #noData>No Data Available</ng-template>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form__container__field" appearance="outline">
        <mat-label>Convênio</mat-label>
        <mat-select formControlName="agreementId">
          <ng-container *ngIf="agreements$ | async as agreements; else noData">
            <mat-option
              [value]="agreement.id"
              *ngFor="let agreement of agreements"
              >{{ agreement.name }}</mat-option
            >
          </ng-container>

          <ng-template #noData>No Data Available</ng-template>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form__container__field" appearance="outline">
        <mat-label>Forma de pagamento</mat-label>
        <mat-select formControlName="paymentMethodId">
          <ng-container
            *ngIf="paymentMethods$ | async as paymentMethods; else noData"
          >
            <mat-option
              [value]="paymentMethod.id"
              *ngFor="let paymentMethod of paymentMethods"
              >{{ paymentMethod.name }}</mat-option
            >
          </ng-container>

          <ng-template #noData>No Data Available</ng-template>
        </mat-select>
      </mat-form-field>

      <mat-form-field
        class="form__container__field form__container__field--full-size"
        appearance="outline"
      >
        <mat-label>Motivo da consulta</mat-label>
        <input matInput formControlName="reason" />
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button (click)="onSubmit()" cdkFocusInitial>Agendar</button>
</div>
