<div class="home">
  <h2 class="home__title">Seja bem-vindo(a), Leandro.</h2>

  <div class="home__buttons">
    <div class="home__buttons__container">
      <a class="home__buttons__container__item" (click)="openDialog()">
        <mat-icon
          class="material-icons-outlined home__buttons__container__item__icon"
          >medical_services</mat-icon
        >
        Consulta presencial</a
      >
      <a class="home__buttons__container__item"
        ><mat-icon class="home__buttons__container__item__icon"
          >add_to_queue</mat-icon
        >
        Teleconsulta</a
      >
      <a class="home__buttons__container__item"
        ><mat-icon
          class="material-icons-outlined home__buttons__container__item__icon"
          >note_add</mat-icon
        >
        Exame</a
      >
    </div>
  </div>
</div>
